old/StepFunctionSample-test.json
{
  "Comment": "An example of the Amazon States Language using a choice state.",
  "StartAt": "GetInstancePlatform",
  "States": {
    "GetInstancePlatform": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:023718874208:function:GetInstancePlatform",
      "Next": "ChoiceState"
    },
    "ChoiceState": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.PlatformType",
          "StringEquals": "Windows",
          "Next": "WindowsMatchState"
        },
        {
          "Variable": "$.PlatformType",
          "StringEquals": "Linux",
          "Next": "LinuxMatchState"
        }
      ],
      "Default": "NoMatchFound"
    },

    "WindowsMatchState": {
      "Type": "Pass",
      "Result": "Hello World! from WindowsMatchState",
      "End": true
    },

    "LinuxMatchState": {
      "Type": "Pass",
      "Result": "Hello World! from LinuxMatchState",
      "End": true
    },

    "NoMatchFound": {
      "Type": "Fail",
      "Cause": "No Matches!"
    }
  }
}